
body{
    background-image: url("donate-today-main/images/donation13.jpg")
}
    
body{
    background-repeat: no-repeat;
    background-size: 1440px 540px;
    
    
    }


    .Banner{
        color: aliceblue;
        text-align: center;
        font-size: 40px
        }
       .second-line{
    
        font-size: 30px;
        }
        .Banner{
            height: 100px;
        }
        .donate-button{
            text-decoration: none;
            background-color: #52ab98;
            color: white;
            padding: 10px 40px;
            font-weight: 700;
            border-radius: 20px;
        }
        
        
        section{
            display: flexbox;
            margin-bottom: 350px;
        }
        .donate-today{
            font-size: 60px;
            text-align: center;
           }
           
        #second-paragraph{
            color: darkgrey;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 18px;
        }
        .taka{
            display: flex;
            justify-content: center;
            column-gap: 40px;
            padding: 40px;
            font-size: 25px;
           
            
        }
        form{
            background-color: #c8d8e4;
            color: rgb(121, 121, 121);
            padding: 40px 40px;
            font-weight: 700;
            border-radius: 0px;
            
        }
        #fourth-box{
            background-color: #E5F6DF;
            border-color: #52ab98;
            color: #52ab98;
            border-style: solid;
            border-radius: 5px;
        }
        #other-amount{
            text-align: center;
            color: darkgrey;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            padding-top: 15px;
        }
        hr{
            width: 780px;
    
        }
        #donatePlan-paragraph{
            color: darkgrey;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 18px;

        }
        #donate-plan{
            padding-top: 90px;
        }
        .icon-section{
            display: flex;
            justify-content: center;
            column-gap:25px;
            padding: 40px;
            font-size: 25px;
            
        }
        .fpl-heading{
            
            font-size: 26px;
            
            
            
           
            
        }
        
        .fpl-paragraph{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 18px;
            color: rgb(132, 128, 128);
            padding-right: 20px;
            

        }
       #food{
       background-color: #ACDDDE;
       border-radius: 5px;
      
       
        }
       #livelihoods{
        background-color: #E1F8DC;
        border-radius: 5px;
       }
        #poverty{
            background-color: #FEF8DD;
            border-radius: 5px;
        }
        .icon-section{
            height: 300px;
           
            
        }
        .fpl-text{
            padding: 20px;
            padding-block: 80px;
        } 
        img{
            display: flex;
            flex-direction: row;
            width: 60px;
            height: 50px;
        }
        .thank-you-paragraph{
            color: darkgrey;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 18px;
        }
        .thank-you-part{
            display: flex;
            width: 50%;
            padding-left: 170px
            }

        .thank-you-part img{
            width: 400%;
            height: 100%;
        }
        .thank-you-part{
            padding-top: 100px;
            column-gap: 80px;
        }
        .thankyou-heading{
            font-size: 50px;
        }
        .donate-today h1{
            font-size: 55px;
        }
        #update-heading{
            height: 40px;
        }
        input[type=text] {
            border: none; 
            background-color: #dfe6e5;
            width: 28%;
            height: 45px;
            border-radius: 5px;
            padding-left: 20px;
            font-size: 15px;
           }
           .form-box{
            padding-top: 43px;
            height: 48px;
            padding-left: 14px;
            padding-bottom: 17px;
            margin: 0%;
           }
            .form-background{
                background-color: #53ac99;
               height: 200px;
               }
               #sub{
                height: 20px;
                width: 40px;
               }
               .form-box{
                margin: 0%;
               }
               #sub-box{
                width: 80px;
                background-color: #E1F8DC;
               }
               *{
                padding: 0;
               }
               #footer-box{
                min-height: 100%;
               }
               #main{
                overflow: auto;
                padding-bottom: 100px;
               }
               #footer{
                background-color: black;
                }
              
            #footer{
                height: 225px;
                margin-top: -165px;
                clear: both;
                text-align: center;
                padding-top: 57px;
               }
               #footer-h1{
                color: whitesmoke;
               }
               #footer-p{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: #53ac99;
               }
            


        

        
        
       

        
       
      
       
       
       
        

    
    