
body{
    background-image: url("donate-today-main/images/donation13.jpg")
}
    
body{
    background-repeat: no-repeat;
    background-size: 1440px 540px;
    
    
    }
    body{
    
    }

    .Banner{
        color: aliceblue;
        text-align: center;
        font-size: 40px
        }
       .second-line{
    
        font-size: 30px;
        }
        .Banner{
            height: 100px;
        }
        .donate-button{
            text-decoration: none;
            background-color: #52ab98;
            color: white;
            padding: 10px 40px;
            font-weight: 700;
            border-radius: 20px;
        }
       
      
       
       
       
        

    
    